
@{
    ViewData["Title"] = "Index";
}

<body style="background-color:powderblue;">


    <center><h1>Welcome to Admin Page</h1></center>
<h2>Actions</h2>

<ul>
        <li> <a asp-action="List" style="color: black;"> View User List</a></li>
        <li> <a href="/Times/Dashboard" style="color: black;"> Dashboard</a></li>
</ul>
   

   
    

</body>
