@model IEnumerable<FinalProject.Areas.Identity.Data.FinalProjectUser>
@{
    ViewData["Title"] = "Index";
}

<center><h1>Welcome To Admin Portal</h1></center>
<br />
<br />
<style>
  
   

    .containers {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }

    .box {
        width: 200px;
        height: 200px;
        background-color:white;
        transition: transform 0.3s, width 0.3s, height 0.3s, margin 0.3s;
        margin: 80px; 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; 
        border: none;
        
    }


    .box:hover {
            transform: scale(1.1);
            width: 250px;
            height: 200px;
            margin: 0; 
    }

    

</style>

<br />
<br />
<body style="background-color:white;">
    <div class="containers">
        
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <a asp-action="List" class="box" style="color:black;text-decoration: none;">
                    <div>
                        <img src="~/css/people.png" width="200" height="200" class="img-fluid" />
                        <h2>View User List</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-12">
                <a href="/Times/Dashboard" class="box" style="color:black;text-decoration: none;">
                    <div>
                        <img src="~/css/data.png" width="200" height="200" class="img-fluid" />
                        <h2>Dashboard</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-12">
                <a asp-action="Weekly" class="box" style="color:black;text-decoration: none;">
                    <div>
                        <img src="~/css/analysis.png" width="200" height="200" class="img-fluid" />
                        <h2>Weekly Insight</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

