@model IEnumerable<FinalProject.Areas.Identity.Data.FinalProjectUser>

@{
    ViewData["Title"] = "List";
}

<body style="background-color:white;">

    <style>
        /* Add some styling to the table */
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ccc; /* Border style and color */
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd; /* Border between rows */
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Info</th>
       
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Graph", "User", new { userId = user.Id })">@user.FirstName</a>
            </td>
            <td>@user.Email</td>
                <td><a href="@Url.Action("Info", "User", new { userId = user.Id })">Info</a></td>
        </tr>
    }
    
</table>
</body>





