

@{
    ViewData["Title"] = "Home Page";

}

<center>

    <h1 class="display-4">Attendance Management System</h1>
    <h5>Get on-the-go time tracking, tools to help you manage projects and people </h5>

</center>
<br />
<br />
<body style="background-color:white;">

    
    <style>



        .containers {
            display: flex;
            justify-content: space-between;
            padding: 20px;
           
          
        }

        .box {
            width: 200px;
            height: 200px;
            background-color:white;
            transition: transform 0.3s, width 0.3s, height 0.3s, margin 0.3s;
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border:none;
        }


       .box:hover {
          transform: scale(1.1);
                width: 250px;
                height: 200px;
                margin: 0;
       }

       .h2{
           text-decoration:none ;
       }

       .box a {
                text-decoration: none; /* Remove the underline from links */
       }



    </style>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <a asp-area="" asp-controller="Times" asp-action="Create" class="box" style="color:black;text-decoration: none;">
                        <div>
                            <img src="~/css/board.png" width="200" height="200" class="img-fluid" />
                            <h2>Go to Clock</h2>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <a href="@Url.Action("Graph", "Times", new { userId = ViewBag.CurrentUserId })" class="box" style="color:black;text-decoration: none;">
                        <div>
                            <img src="~/css/analytics.png" width="200" height="200" class="img-fluid" />
                            <h2 style="color:black;">View Analytics</h2>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <a href="@Url.Action("Profile", "Times", new { userId = ViewBag.CurrentUserId })" class="box" style="color:black;text-decoration: none;">
                        <div>
                            <img src="~/css/people.png" width="200" height="200" class="img-fluid" />
                            <h2>User Detail</h2>
                        </div>
                    </a>
                </div>

                @if (User.IsInRole("Admin"))
                {
                    <div class="col-lg-3 col-sm-12">
                        <a asp-area="" asp-controller="User" asp-action="Index" class="box" style="color:black;text-decoration: none;">
                            <div>
                                <img src="~/css/admin.png" width="200" height="200" class="img-fluid" />
                                <h2>Admin</h2>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
       
    }
</body>
