@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Areas/Identity/Pages/_AuthLayout.cshtml";
}



<center><img src="~/css/add.png" alt="Logo" width="70" height="75"></center>

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    
    <center><h2>Sign Up</h2></center>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="Firstname" aria-required="true" />
                <label asp-for="Input.FirstName"></label>

            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="Lastname" aria-required="true" />
                <label asp-for="Input.LastName"></label>

            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.PhoneNum" class="form-control" autocomplete="off" aria-required="true" />
        <label asp-for="Input.PhoneNum"></label>
        <span asp-validation-for="Input.PhoneNum" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.DOB" class="form-control" autocomplete="off" aria-required="true" />
        <label asp-for="Input.DOB"></label>
        <span asp-validation-for="Input.DOB" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
        <label asp-for="Input.Email"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Input.Password"></label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Input.ConfirmPassword"></label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    <div class="text-center mt-3">
        <a href="/Identity/Account/Login" class="btn btn-link">Login</a>
    </div>
   
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
