@model IEnumerable<FinalProject.Areas.Identity.Data.TimeTable>

@{
    ViewData["Title"] = "Index";
}
<body style="background-color:powderblue;">

<center><h1>Welcome to Attendance tracker</h1></center>
<p>
       
    
        @if (ViewBag.ActiveClockInTime != null)
        {
        
        <h3><p>On  @ViewBag.ActiveClockInTime.ToString("yyyy-MMM-dd")</p></h3>
        <p>Your active clock-in time is: @ViewBag.ActiveClockInTime.ToString("hh:mm:ss tt")</p>
        }

</p>

<br />
<br />
 <h4>Go to <a asp-action="Create">Clock</a> </h4>


</body>

