@model IEnumerable<FinalProject.Areas.Identity.Data.TimeTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Dashboard">Look Dashboard</a>

</p>
