
@model IEnumerable<FinalProject.Areas.Identity.Data.TimeTable>
 
@{
    ViewData["Title"] = "Index";
}
<body style="background-color:powderblue;">

<center><h1>Welcome to Attendance tracker</h1></center>
<p>
       
    
        @if (ViewBag.ActiveClockInTime != null)
        {
        
        <h3>On  @ViewBag.ActiveClockInTime.ToString("yyyy-MMM-dd")</h3>
        <p>Your active clock-in time is: @ViewBag.ActiveClockInTime.ToString("hh:mm:ss tt")
        </p>
        }



<br />
<br />
 <h4>Go to <a asp-action="Create">Clock</a> </h4>


<h4><a href="@Url.Action("Graph", "Times", new { userId = ViewBag.CurrentUserId })" class="nav-link ">View Analytics</a></h4>



</body>

