html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
    margin-left: 2%;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #258cfb;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 5px;
}

/* styles.css */
.login-logout-card {
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

    .login-logout-card:hover {
        transform: translateY(-5px);
    }
/* styles.css */
.card-header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), #3498db);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carousel-item {
    background-color: #f8f9fa; /* Set a background color for each slide */
    color: black; /* Set the font color */
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 0.8); /* Set a background color for the caption */
    padding: 10px; /* Add some padding for better appearance */
}